/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


home.css.scss
html {
  background-color: #FFEBA0;
  color: #3A3A3A;
  padding: 0;
  margin: 0;
  top: 0;
  font-family: apercu;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }

a {
  text-decoration: none;
  color: #3A3A3A; }

.logo {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
  top: 0; }

nav {
  text-align: center;
  font-size: 12px;
  color: #3A3A3A; }

nav span {
  border-bottom: solid 1px;
  cursor: pointer; }

nav span:hover {
  border-bottom: solid 1px;
  cursor: pointer;
  color: #3A3A3A; }

.container {
  display: block;
  height: calc(100% - 115px); }

#howitworks {
  height: 150px;
  display: none;
  padding: 0 11%; }

#howitworks p {
  font-size: 12px; }

#thirty {
  padding-left: 1.232%;
  float: left;
  width: 38.46%; }

h5 {
  margin-top: 12px; }

#fourteen {
  padding-left: 1.232%;
  float: left;
  width: 18.46%; }

.votearea {
  display: block;
  position: relative;
  float: left;
  padding-left: 9.3%;
  width: 90.7%;
  height: calc((100% - 180px)*0.5);
  margin: 30px 0; }

.votearea:hover {
  background-color: #fdf2b5; }

.info {
  display: inline-block;
  font-size: 12px;
  position: absolute;
  top: 40%;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg); }

.info a {
  border-bottom: 1px dashed; }

textarea {
  position: absolute;
  background-color: #FFEBA0;
  border: 0;
  color: #3A3A3A;
  resize: none;
  padding-top: 0;
  margin-top: 0;
  overflow: hidden;
  height: 40%;
  top: 30%;
  margin-left: 17.5%;
  width: 46%;
  font-size: 6em;
  white-space: nowrap;
  text-align: center; }

textarea:focus {
  outline: none; }

.prevnext {
  width: 43px;
  height: 100%;
  background: #fdf3c3 center no-repeat;
  opacity: 0.3; }

.prevnext:hover {
  opacity: 1; }

.prev {
  float: left;
  background-image: url(prev.png); }

.next {
  float: right;
  background-image: url(next.png); }

.middle {
  display: block;
  height: 60px;
  width: 100%;
  float: left; }

.divider {
  width: 46%;
  height: 1px;
  background-color: #524d35;
  float: left;
  margin-left: calc(26.8% - 43px);
  display: inline-block;
  margin-top: 29px; }

.try {
  font-size: 12px; }

.controls {
  height: 100%;
  right: 10%;
  position: absolute;
  width: 10%;
  background-color: red; }
