<% provide(:title, 'Home') %>
		<nav><span id="nav">How it works</span>&emsp;<span><a href="leaderboard.html">Leaderboard</a></span></nav>
		<div class="container">
			
			<!-- HOW IT WORKS -->

			<div id="howitworks">
				<div id="thirty"><h5>What is Type Off?</h5><p>A daily source of web font inspiration. Type Off is a type based game in which two web fonts go head to head ...</p></div>
				<div id="fourteen"><h5>What you see</h5><p>The Champions (left)<br>The Challengers (right)<br>Headings (top)<br>Text (bottom)</p></div>
				<div id="fourteen"><h5>What you do</h5><p>Vote for your favourite Heading and Text fonts by clicking the adjacent vote count buttons. </p></div>
				<div id="fourteen"><h5>What happens next</h5><p>Each round lasts one day. At the end of the day, the font with the most votes in each category becomes the champion.</p></div>
			</div>

			<!-- top -->

      
      
			<div class="votearea">
				<div class="info">
					<p class="try">Try on <a href="http://fontdeck.com/typeface/apercu" target="_blank">Font Deck</p></a>
				</div>
				<textarea id="headingchamp" rows="1">Apercu</textarea>
				<div class="controls">Hello</div>
			</div>	

			<!-- middle -->

			<div class="middle">
				<div class="prevnext prev"></div><div class="divider"></div><div class="prevnext next"></div>
			</div>


			<!-- bottom -->

			<div class="votearea">
				<div class="info">
					Futura<p class="try">Try on <a href="http://www.myfonts.com/fonts/bitstream/futura/" target="_blank">My Fonts</a></p>
				</div>
				<textarea id="challenger" rows="1">Futura</textarea>
				<div class="controls">
					<input type="range" min="1" max="100">
				</div>
			</div>	

			<!-- -->

		</div>
