
<% provide(:title, '| Home | Leaderboard') %>

<nav><span><a href="/#">New Round</a></span></nav>

<% javascript 'leaderboard' %>

<div class="container">
  <table id="headings">
    <thead>
		  <tr class="top">
		    <th class="two"></th>
			  <th class="three">Link</th>
			  <th class="four">Win%</th>
        <th class="five">Votes</th>
		  </tr>
	  </thead>
    
    <tbody>
      <% @fonts.each do |font| %>
        <tr>
          <td class="two">
            <span style=<%= font.style %> ><%= font.title %></span>
          </td>
          <td class="three"><%= font.link %></td>
          <td class="four"> </td>
          <td class="five"></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>			