
<% provide(:title, '| Home | Leaderboard') %>

<nav><span><a href="/#">New Round</a></span></nav>

<% javascript 'leaderboard' %>

<div class="container">
  <table id="headings">
    <thead>
		  <tr class="top">
			  <th class="three">Win%</th>
        <th class="four">Votes</th>
		  </tr>
	  </thead>
    
    <tbody>
      <% @leader_array.each do |leader| %>
        <tr>
          <td class="two">
            <span style=<%= leader.font.style %> ><%= leader.font.title %></span>
          </td>
          <td class="four"><%= leader.percentage %>%</td>
          <td class="five"><%= leader.winner %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>			